<footer class="footer">
  <p class="footer__content">&copy; TG - 2020</p>
</footer>
<style>
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 0 0;
    font-size: 1.1em;
  }
</style>
