<nav class="head">
  <ul class="link">
    <li class="link__item link__item--title">
      <h1>
        <a href="/">TG Blog</a>
      </h1>
    </li>
    <li class="link__item"><a href="/">Home</a></li>
    <li class="link__item"><a href="/about">About</a></li>
    <li class="link__item"><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
