<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head.ejs") %>
  <body>
    <%- include("./components/nav.ejs") %>
    <section class="notFound">
      <h1>404</h1>
      <p>No data...</p>
    </section>
    <%- include("./components/footer.ejs") %>
  </body>
</html>
