<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head.ejs") %>
  <body>
    <%- include("./components/nav.ejs") %>
    <section class="create">
      <form>
        <label for="title">Blog title : </label>
        <input type="text" id="title" required /><br /><br />
        <label for="snipet">Blog snipet : </label>
        <input type="text" id="snipet" required /><br /><br />
        <label for="body">Blog body : </label>
        <textarea id="body"></textarea><br />
        <br />
        <button class="create__btn">Submit</button>
      </form>
    </section>
    <%- include("./components/footer.ejs") %>
  </body>
</html>
