body {
  margin: 0;
  padding: 0;
}

/* nav */
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &__item {
    border-radius: 16px;
    padding: 8px 16px;
    list-style: none;
    cursor: pointer;
    &:hover {
      background: #efefef;
      transform: scale(0.95);
    }
    &--title:hover {
      background: #fff;
      transform: scale(0.99);
    }
  }
}

/* blogs */
.blogs {
  width: 75vw;
  margin: 0 auto;
  &__title {
    font-weight: 200;
  }
  &__item {
    border-radius: 16px;
    border: solid 1px #efefef;
    margin: 16px 24px;
    padding: 0 0 0 24px;
    &:hover {
      transition: 0.1s;
      transform: scale(0.99);
      opacity: 0.9;
    }
  }
}

/* about */
.about {
  width: 75vw;
  margin: 0 auto;
  &__title {
    font-weight: 200;
  }
  &__contents {
    padding: 0 0 0 24px;
  }
}

/* create */
.create {
  width: 500px;
  margin: 0 auto;
  border: solid 1px #efefef;
  &__form {
    width: 450px;
    font-size: 1.1em;
    padding: 24px 32px;
    border-radius: 16px;
    &__btn {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      border-radius: 8px;
      padding: 8px 16px;
      border: none;
      background: #444;
      color: #fff;
      cursor: pointer;
      &:hover {
        transition: 0.2s;
        transform: scale(0.95);
      }
    }
    &__input {
      font-size: 1.2em;
      width: 200px;
      height: 30px;
      margin: 0 0 0 24px;
      padding: 0 8px;
      &--textarea {
        font-size: 1.2em;
        width: 400px;
        height: 100px;
        margin: 0 0 0 24px;
        padding: 2px 8px;
      }
    }
  }
}
label {
  font-size: 1.2em;
}

/* details */
.details {
  width: 75vw;
  margin: 0 auto;
  &__content {
    border-radius: 16px;
    border: solid 1px #efefef;
    margin: 8px;
    padding: 24px;
    &__body {
      padding: 0 0 0 24px;
    }
    &__delete {
      color: #444;
      background: #fff;
      margin: 0 auto;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #444;
        transition: 0.2s;
        transform: scale(0.95);
      }
    }
  }
}

/* 404 */
.notFound {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px 24px;
  border: solid 1px #efefef;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 0 0;
  font-size: 1.1em;
}
