body {
  margin: 0;
  padding: 0;
}

/* nav */
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.link__item {
  border-radius: 16px;
  padding: 8px 16px;
  list-style: none;
  cursor: pointer;
}
.link__item:hover {
  background: #efefef;
  transform: scale(0.95);
}
.link__item--title:hover {
  background: #fff;
  transform: scale(0.99);
}

/* blogs */
.blogs {
  width: 75vw;
  margin: 0 auto;
}
.blogs__title {
  font-weight: 200;
}
.blogs__item {
  border-radius: 16px;
  border: solid 1px #efefef;
  margin: 16px 24px;
  padding: 0 0 0 24px;
}
.blogs__item:hover {
  transition: 0.1s;
  transform: scale(0.99);
  opacity: 0.9;
}

/* about */
.about {
  width: 75vw;
  margin: 0 auto;
}
.about__title {
  font-weight: 200;
}
.about__contents {
  padding: 0 0 0 24px;
}

/* create */
.create {
  width: 500px;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 16px;
  border: solid 1px #efefef;
}
label {
  font-size: 1.2em;
}
.create__btn {
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background: #444;
  color: #fff;
  cursor: pointer;
}
.create__btn:hover {
  transition: 0.2s;
  transform: scale(0.95);
}

/* details */
.details {
  width: 75vw;
  margin: 0 auto;
}
.details__content {
  border-radius: 16px;
  border: solid 1px #efefef;
  margin: 8px;
  padding: 24px;
}
.details__content__body {
  padding: 0 0 0 24px;
}
.details__content__delete {
  color: #444;
  background: #fff;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.details__content__delete:hover {
  color: #fff;
  background: #444;
  transition: 0.2s;
  transform: scale(0.95);
}

/* 404 */
.notFound {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px 24px;
  border: solid 1px #efefef;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 0 0;
  font-size: 1.1em;
}
